footer{
    position:absolute;
    bottom: 0cm;
    color: brown;
} 
/* moving footer down and change color */

button{
    
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 50px;
   
}
#button1 {
    background-color: blue;
    color: white;
  }
#button2 {
    background-color: brown;
    color: white;
  }


#chart {
    position: absolute;
    margin: top 10px;
    
  }